<a href="https://colab.research.google.com/github/Amadi-99/Amadi-99/blob/main/Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Multi-Label Text Classification

In [4]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.model_selection import train_test_split

from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC

from sklearn.multiclass import OneVsRestClassifier

In [37]:
df = pd.read_csv('https://raw.githubusercontent.com/Amadi-99/smsDataSet/main/smsData.csv',sep=";", index_col=0)

In [38]:
df.head()

                                                Text               Tags
1  Hi! Update your email id through WhatsApp: htt...          ['alert']
2  Lucknow ya Kolkata ? - watch it LIVE with Vi c...    ['promotional']
3  Mohd,Check the incredible Acko insurance polic...  ['transactional']
4  Hi! You can now get your Vi prepaid invoice em...  ['transactional']
5  ONLY on Rs299! Recharge NOW with Rs299 & get E...    ['promotional']

In [39]:
type(df['Tags'].iloc[0])

str

In [40]:
import ast

In [41]:
df['Tags'].iloc[0]

"['alert']"

In [42]:
ast.literal_eval(df['Tags'].iloc[0])

['alert']

In [43]:
df['Tags'] = df['Tags'].apply(lambda x: ast.literal_eval(x))

In [44]:
df.head()

                                                Text             Tags
1  Hi! Update your email id through WhatsApp: htt...          [alert]
2  Lucknow ya Kolkata ? - watch it LIVE with Vi c...    [promotional]
3  Mohd,Check the incredible Acko insurance polic...  [transactional]
4  Hi! You can now get your Vi prepaid invoice em...  [transactional]
5  ONLY on Rs299! Recharge NOW with Rs299 & get E...    [promotional]

In [45]:
y = df['Tags']
y

1             [alert]
2       [promotional]
3     [transactional]
4     [transactional]
5       [promotional]
           ...
92    [transactional]
93      [promotional]
94      [promotional]
95    [transactional]
96      [promotional]
Name: Tags, Length: 96, dtype: object

In [46]:
multilabel = MultiLabelBinarizer()

In [47]:
y = multilabel.fit_transform(df['Tags'])

In [48]:
y

array([[1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1, 0, 1],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 1, 0],
       [0, 0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0, 0, 0],
       [1, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1, 0, 0]])

In [49]:
multilabel.classes_

array(['alert', 'government', 'otp', 'personal', 'promotional', 'spam',
       'transactional'], dtype=object)

In [50]:
pd.DataFrame(y, columns=multilabel.classes_)

    alert  government  otp  personal  promotional  spam  transactional
0       1           0    0         0            0     0              0
1       0           0    0         0            1     0              0
2       0           0    0         0            0     0              1
3       0           0    0         0            0     0              1
4       0           0    0         0            1     0              0
..    ...         ...  ...       ...          ...   ...            ...
91      0           0    0         0            0     0              1
92      0           0    0         0            1     0              0
93      0           0    0         0            1     0              0
94      0           0    0         0            0     0              1
95      0           0    0         0            1     0              0

[96 rows x 7 columns]

In [51]:
# lets say you have -> l,e,t,s, ,

In [52]:
tfidf = TfidfVectorizer(analyzer='word', max_features=10000, ngram_range=(1,3), stop_words='english')
X = tfidf.fit_transform(df['Text'])

In [53]:
X

<96x2517 sparse matrix of type '<class 'numpy.float64'>'
	with 3829 stored elements in Compressed Sparse Row format>

In [54]:
# tfidf.vocabulary_

In [55]:
X.shape, y.shape

((96, 2517), (96, 7))

In [56]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Build Model

In [57]:
sgd = SGDClassifier()
lr = LogisticRegression(solver='lbfgs')
svc = LinearSVC()

In [58]:
def j_score(y_true, y_pred):
  jaccard = np.minimum(y_true, y_pred).sum(axis = 1)/np.maximum(y_true, y_pred).sum(axis = 1)
  return jaccard.mean()*100


def print_score(y_pred, clf):
  print("Clf: ", clf.__class__.__name__)
  print('Jacard score: {}'.format(j_score(y_test, y_pred)))
  print('----')

In [59]:
for classifier in [LinearSVC(C=1.5, penalty = 'l1', dual=False)]:
  clf = OneVsRestClassifier(classifier)
  clf.fit(X_train, y_train)
  y_pred = clf.predict(X_test)
  print_score(y_pred, classifier)

Clf:  LinearSVC
Jacard score: 60.0
----

/usr/local/lib/python3.9/dist-packages/sklearn/multiclass.py:77: UserWarning: Label not 3 is present in all training examples.
  warnings.warn(

In [60]:
for classifier in [sgd, lr, svc]:
  clf = OneVsRestClassifier(classifier)
  clf.fit(X_train, y_train)
  y_pred = clf.predict(X_test)
  print_score(y_pred, classifier)

Clf:  SGDClassifier
Jacard score: 80.0
----
Clf:  LogisticRegression
Jacard score: 15.0
----
Clf:  LinearSVC
Jacard score: 70.0
----

/usr/local/lib/python3.9/dist-packages/sklearn/multiclass.py:77: UserWarning: Label not 3 is present in all training examples.
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/multiclass.py:77: UserWarning: Label not 3 is present in all training examples.
  warnings.warn(
/usr/local/lib/python3.9/dist-packages/sklearn/multiclass.py:77: UserWarning: Label not 3 is present in all training examples.
  warnings.warn(

## Model Test with Real Data

In [62]:
x = [ 'Hi! Update your email id through WhatsApp: https://wa.me/message/SIAJ2QKMIOVEI1 or head to Vi App https://bit.ly/371QhWe. This will help as ID verification in case of any SIM related needs.']

In [63]:
xt = tfidf.transform(x)

In [64]:
clf.predict(xt)

array([[1, 0, 0, 0, 0, 0, 0]])

In [65]:
multilabel.inverse_transform(clf.predict(xt))

[('alert',)]